.home {
  width: 100%;
}

.homeWidgets {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.notConnected {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #e61616;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.connected {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #30a6ca;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}
